// normalization
* {
    margin: 0;
    font-family: 'Comfortaa', cursive;
}

body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-color: #232323;
    color: white;
    font-size: 62.5%;
}
button {
    background-color: white;
    border: none;
    color: #740000;
    margin-top: 2rem;
    box-shadow: 0px 10px 0px #740000;
    outline-offset: 5px;
    font-weight: 700;
    transition: all 0.05s;
    &[data-activity="nah"] {
        box-shadow: 0px 10px 0px #919191;
        color: #919191;
        &:hover { color: lighten($color: #919191, $amount: 20);}
        &:focus-visible { outline: 5px #919191 solid;}
    }
    &:active {
        box-shadow: none;
        translate: 0 10px;
    }
    &:focus-visible { outline: 5px #740000 solid;}
    &:hover { color: lighten($color: #740000, $amount: 20);}
}
main {
    min-width: 100vw;
    & > nav {
        display: flex;
        justify-content: center;
        gap: 20px;
    }
}
.absoluteContainer {
    position: absolute;
    max-width: 100%;
    display: flex;
    align-self: center;
}
input {
    background: none;
    outline: none;
    border: none;
    max-width: clamp(7rem, 10vw, 20rem);
    min-width: 12rem;
    color: white;   
    font-size: clamp(5rem, 10vw, 10rem);
}
.firstInput {
    padding-right: 2rem;
}
.secondInput {
    padding-left: 2rem;
}
.firstInput::placeholder {
    text-align: right;
}
.secondInput::placeholder {
    text-align: left;
}
::placeholder, h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 300;
    font-size: clamp(5rem, 10vw, 10rem);
}

// MAIN
// timer presets
.presets > button {
    font-size: clamp(0.3rem, 3vw, 1.5rem);
    padding: 1rem;
}

// timer functions
.functions {
    display: flex;
    min-height: 75vh;
    align-items: end;
    & > button {
        font-size: clamp(0.5rem, 4vw, 3rem);
        padding: 1rem 5rem;
    }
}


// media queries
@media screen and (max-width: 1000px) {
    .presets {
        flex-wrap: wrap;
        & > button {
                margin: 1rem;
        }
    }
    .functions {
        min-height: 83vh;
        justify-content: flex-end;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
        & > button {    
            margin-top: 0;
            min-width: 23rem;
        }
    }
}
@media screen and (max-width: 825px) {
    .functions {
        min-height: 70vh;
        & > button {
            min-width: 15rem;
        }
    }
    .firstInput {
        max-width: 5vw;
    }
}
@media screen and (max-width: 300px) {
    .functions { min-height: 50vh;}
}